<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bienvenue dans mon site</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <%- include ("_bandeau.ejs"); %>

        <% if (locals.error) { %>
          <div class="message-block">
            <div class="message message-erreur">
              <%= locals.error %>
              <% if (locals.message) { %>
                <%= locals.message %>
              <%}%>
              <% if (locals.link) { %>
                <a class="lien2" href="<%- locals.link %>"> ici</a>
              <%}%>
            </div>
          </div>
        <% } %>
        <% if (locals.validate) { %>
          <div class="message-block">
            <div class="message message-success">
              <%= locals.validate %>
            </div>
          </div>
        <% } %>
