<link rel="stylesheet" type="text/css" href="css/API_WIMP.css" />
<link rel="stylesheet" type="text/css" href="css/leaflet.css" />

<link rel="stylesheet" type="text/css" href="css/MarkerCluster.css" />

<link rel="stylesheet" type="text/css" href="css/MarkerCluster.Default.css" />

<style type="text/css">
    #map{ /* la carte DOIT avoir une largeur sinon elle n'apparaît pas */
        width: 100%;
    }
</style>
  <div id="map">
  <!-- Ici s'affichera la carte -->
  </div>
<!-- Fichiers Javascript -->
<%
  if (locals.user.animaux) {
    for (const animal of locals.user.animaux) {
      if (animal.id_animal == locals.user.idAnimalSelect) {%>
        <script type="text/javascript">
          var animalDistance = <%= animal.distance %>
          console.log("Distance : ", animalDistance);
          //document.cookie = "animalDistance="+animalDistance;
        </script>
      <%}
    }
  }
%>
<script type="text/javascript">
  let tabGPS = [];
  <% if (locals.user.gps) {%>
    <%  for (const gps of locals.user.gps) {%>
      var gps = new Object();
      gps.altitude = <%=gps.altitude%>;
      gps.longitude = <%=gps.longitude%>;
      gps.latitude = <%=gps.latitude%>;
      tabGPS.push(gps);
    <%}%>
  <%} %>
  console.log("Id utilisateur select : ", <%= locals.user.idAnimalSelect %>);



</script>
<script src="js/leaflet.js"></script>
<script src="js/leaflet.markercluster.js"></script>
<script src="leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<script type="text/javascript" src="js/fonctions.js"></script>
<script type="text/javascript" src="js/API_WIMP.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
