<%- include ("../_partial/_header.ejs"); %>
<div class="flex">
  <div class="flex-items flex-item-70">
    <div class="map">
      <div class="map-date">
        <%- include ("../_partial/_calendrier.ejs"); %>
      </div>
      <div class="map-api">
        <%- include("../_partial/api/api.ejs") %>
      </div>
    </div>
  </div>
  <div class="flex-items flex-item-30">
    <div class="options">
      <div class="options-profil">
        <a href="/find">
          <img src="images/profil.png" class="img-profil" alt="">
        </a>
        <a href="/deconnexion"><img class="img-profil" src="https://img.icons8.com/pastel-glyph/64/000000/exit--v2.png"/></a>
      </div>
      <div class="options-api">
        <% if(locals.user.animaux != 0 && locals.user.animaux){ %>
          <form class="selectAnimal" action="api/animal" method="post">
            <select name="listeAnimaux" id="selectAnimaux">
              <% if (locals.user.idAnimalSelect) { %>
                <% for (const animal of locals.user.animaux) { %>
                  <% if (locals.user.idAnimalSelect == animal.id_animal) {%>
                    <option value="<%= animal.id_animal %>"><%= animal.nom_animal %></option>
                  <%}%>
                <%}%>
              <%}else{%>
                <option value="">--Choisir l'animal--</option>
              <%}%>
              <% for (const animal of locals.user.animaux) { %>
                <% if (animal.id_animal != locals.user.idAnimalSelect) {%>
                  <option value="<%= animal.id_animal %>"><%= animal.nom_animal %></option>
                <%}%>
              <%}%>
            </select>
            <input type="submit" id="submit1" class="" value="Selectionner" style="
                      background-color: var(--marron);
                      color: white;
                      margin-top: 10px;
                  ">
          </form>
        <%}else{%>
          Vous n'avez pas encore d'animal
        <%}%>
        <%- include('../_partial/_options.ejs') %>
        <!-- <input type="text" name="" value="Types">
        <input type="text" name="" value="Age"> -->
      </div>
    </div>
  </div>
  <div class="menuTelephone">
    <div id="volet_clos">
  		<div id="volet">
        <div class="flex-items flex-item-90">
          <div class="options2">
            <div class="options-profil">
              <a href="/find">
                <img src="images/profil.png" class="img-profil" alt="">
              </a>
              <a href="/deconnexion"><img class="img-profil" src="https://img.icons8.com/pastel-glyph/64/000000/exit--v2.png"/></a>
            </div>
            <div class="options-api">
              <% if(locals.user.animaux != 0 && locals.user.animaux){ %>
                <form class="selectAnimal" action="api/animal" method="post">
                  <select name="listeAnimaux" id="selectAnimaux">
                    <% if (locals.user.idAnimalSelect) { %>
                      <% for (const animal of locals.user.animaux) { %>
                        <% if (locals.user.idAnimalSelect == animal.id_animal) {%>
                          <option value="<%= animal.id_animal %>"><%= animal.nom_animal %></option>
                        <%}%>
                      <%}%>
                    <%}else{%>
                      <option value="">--Choisir l'animal--</option>
                    <%}%>
                    <% for (const animal of locals.user.animaux) { %>
                      <% if (animal.id_animal != locals.user.idAnimalSelect) {%>
                        <option value="<%= animal.id_animal %>"><%= animal.nom_animal %></option>
                      <%}%>
                    <%}%>
                  </select>
                  <input type="submit" id="submit2" class="" value="Selectionner" style="
                      background-color: var(--marron);
                      color: white;
                      margin-top: 10px;
                  ">
                </form>

              <%}else{%>
                Vous n'avez pas encore d'animal
              <%}%>
              <div class="pTelephone">
                <%- include('../_partial/_options.ejs') %>
              </div>
            </div>
          </div>
        </div>

  			<a href="#volet" class="ouvrir" aria-hidden="true">Menu </a>
  			<a href="#volet_clos" class="fermer" aria-hidden="true">fermer !</a>
  		</div>
  	</div>
  </div>
</div>
<script type="text/javascript">
  <% if (locals.user.animaux) { %>
    let animaux = [];
    animaux = <%- JSON.stringify(locals.user.animaux) %>;
  <% } %>
  const selectElement = document.getElementById('selectAnimaux');
  selectElement.addEventListener('change', (event) => {
    //alert(event.target.value);
    <% var idSelected %>
    var idSelected = event.target.value;
  });
</script>

<%- include ("../_partial/_footer.ejs"); %>
